<!DOCTYPE html>
<html lang="en" ng-app="Diamond">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Diamond E-Comerce</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default main-nav" role="navigation" ng-controller="LayoutCtrl">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-main" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/home">Diamond</a>
            </div>
            <div class="collapse navbar-collapse" id="nav-main">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="pull-right"><a href="#/CarrinhoCompra"><i class="fa fa-shopping-cart fa-2x"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="" data-toggle="dropdown"><i class="fa fa-user fa-2x"></i><span class="badge">Login</span><span class="caret"></span></a>                            
                            <ul class="dropdown-menu">
                                <li><a ng-click="abrirMinhaConta()">Minha Conta</a></li>
                                <li><a href="#/CadastroUsuario">Cadastre-se</a></li>
                                <li><a href="#/backoffice">Back-office</a></li>
                                <li><a ng-click="deslogar()">Deslogar</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control pull-right" placeholder="Pesquisar" name="srch-term" id="srch-term" ng-model="search" ng-change="actions.search()" />
                            <span class="input-group-btn">
                                <button ng-click="actions.search()" class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                
                    <ul class="nav nav-tabs col-md-8 col-md-offset-2">
                        <li role="presentation"><a href="#/Categoria/1">DVDs e Blu-ray</a></li>
                        <li role="presentation"><a href="#/Categoria/2">Games</a></li>
                        <li role="presentation"><a href="#/Categoria/3">Celulares e Telefonia Fixa</a></li>
                        <li role="presentation"><a href="#/Categoria/4">Informática e Tablets</a></li>
                        <li role="presentation"><a href="#/Categoria/5">Tv, Aúdio e Home Theater</a></li>
                    </ul>
                
            </div>
            
        </div>
    </nav>
    
    @RenderBody()
    @RenderSection("SPAViews", required: false)    
        

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)


</body>
</html>
